# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
.env
env/
*.sqlite3
*.log

# Jupyter
.ipynb_checkpoints/

# Node.js
node_modules/
package-lock.json
npm-debug.log

# OS/System
.DS_Store
*.pem
*.swp

# IDEs
.vscode/
.idea/

# Misc Tooling
.cache/
.conda/
.config/
.minikube/
.kube/
.ssh/
.nvm/
